{% extends 'index_base.html' %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Зашифруем любое сообщение 😉</h1>
    <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Мы шифруем ваши сообщения, с помощью асинхронного алгоритма шифрования RSA</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="#" class="btn btn-primary btn-lg px-4 gap-3">Зашифровать</a>
          <a href="#" class="btn btn-outline-secondary btn-lg px-4 gap-3">Расшифровать</a>
      </div>
    </div>
  </div>
    </div>
{% endblock %}